{% extends 'base.html' %}

{% block content %}
    <div class="link-info-card">
        <div class="link-main-view">
            <h1>
                <b>{{ link.name }}</b> -
                <a href="{% if not link.link|slice:":8" == 'https://' %}https://{% endif %}{{ link.link }}">
                    <i>{{ link.link }}</i>
                </a>
                <a href="{% url 'save_link' pk=link.pk %}">
                    <i class="fa fa-heart"></i>
                </a>
                <a href="{% url 'report_link' pk=link.pk %}">
                    <i class="fa fa-flag"></i>
                </a>
            </h1>
            {% if link.description %}
                <p>{{ link.description }}</p>
            {% endif %}
        </div>
        <div class="tags">
            <ul>
                {% for tag in tags %}
                    <div class="tag-container"><a href="/tags/{{ tag }}">{{ tag }} ({{ tag.num_times }})</a></div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="discussion">
        <p><a href="{% url 'add_comment' pk=link.pk %}">Add comment</a></p>
        <p class="centered dark">
            <i><u>{{ comments.count }} comment{% if comments.count != 1 %}s{% endif %} on this link</u></i>
        </p>
        {% for comment in comments %}
            <div class="comment">
                <div class="comment author">
                    {% if comment.author %}
{#                        <a href="/users/{{ comment.author.id }}">#}
                            {{ comment.author.profile.name }}:
{#                        </a>#}
                    {% else %}
                        Unknown user:
                    {% endif %}
                </div>
                <div class="comment text">
                    {{ comment.text }}
                </div>
                <div class="comment date dark">
                    - <i>{{ comment.created_at }}</i>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}