{% extends 'base.html' %}

{% block content %}
    {% for link in links %}
        <div>
            [<a href="{{ link.link }}"><i class="fa fa-link"></i></a>]
            <a href="/links/{{ link.id }}">{{ link.name }}</a>
            {% for tag in link.tags.all %}
            <div class="tag-container">
                <a href="/tags/{{ tag }}">{{ tag }}</a>
            </div>
            {% endfor %}
        </div>
    {% empty %}
        <p>No links found for tag <b>{{ tag }}.</b></p>
    {% endfor %}
{% endblock %}