{% extends 'base.html' %}
{% block content %}
    {% if form.errors %}
        <p>Something went wrong! Please try again.</p>
    {% endif %}

    <script src="https://accounts.google.com/gsi/client" async></script>
    <div id="g_id_onload"
        data-client_id="96297569733-g5jpo129k6p5kg87lcjomdvcqnjlvt6p.apps.googleusercontent.com"
        data-login_uri="http://127.0.0.1:8000/accounts/google/login/callback/"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>

    <p>Don't have an account? <a href="{% url 'register' %}">Create one</a></p>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}